<div id="navbutton" class="navbar-collapse collapse">
  <ul id="" class="nav nav-pills nav-justified border table-bordered">
    <li class="table-bordered"><a routerLink="planWork" routerLinkActive="active">Plan Work</a></li>
    <li class="table-bordered"><a routerLink="scopeOfWork" routerLinkActive="active">Scope of Work</a></li>
    <li class="table-bordered"><a routerLink="costAffidavit" routerLinkActive="active">Cost Affidavit</a></li>
    <li class="table-bordered"><a routerLink="statementAndSignature" routerLinkActive="active">Statement And Signature</a></li>
  </ul>
</div>
<div class="col-md-8" style="border-right: 1px solid #ccc">
  <router-outlet> </router-outlet>
</div>
<div class="col-md-4">
  <app-app-status></app-app-status>
</div>