
<tabset [justified]="true">
  <tab heading="Grid">

    <kendo-grid [data]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true" [filterable]="true" [groupable]="true"
      [height]="510">
      <kendo-grid-column field="ProductID" title="ID" width="40">
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Name" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="Category.CategoryName" title="Category">
      </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Price" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </tab>
  <tab heading="Kendo UI Button">
    <button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
  </tab>
  <tab heading="Long Justified">Long Labeled Justified content</tab>
</tabset>